<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Athena AUTH</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="content-container">
    <div class="human-error-message-container">
        <div layout:fragment="errorMessage"></div>

        <hr>

        <div class="error-code" layout:fragment="errorCode">
        </div>
    </div>
</div>
</body>
</html>
