:root {
    --color-black: #0B121F;
    --color-dark: #141D2B;
    --color-white-dark: #A4B1CD;
    --color-white: #E9ECEF;
    --color-green-light: #D2F692;
    --color-blue: #339CFF;
    --color-green: #BBFF34;
    --color-yellow: #FFDA33;
    --color-red: #FF3333;

    --space-1:  5px;
    --space-2: 10px;
    --space-3: 20px;
    --space-4: 40px;
}

@font-face {
    font-family: 'sf_pro_regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'sf_pro_regular', sans-serif;

    background-image: url("../images/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-message, .custom-error-message {
    background: var(--color-red);
    color: var(--color-white);
    padding: var(--space-1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}

.error-message {
    display: none;
}

.auth-form, .human-message-container, .human-error-message-container {
    width: 69%;
    max-width: 400px;
    padding: var(--space-4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid var(--color-dark);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.25);
    border-radius: 5px;
    gap: var(--space-2);
}

.human-message-container {
    color: var(--color-white-dark);
}

.human-error-message-container {
    font-size: 32px;
    text-align: center;
    color: var(--color-white-dark);
}

.form-body form {
    gap: var(--space-3);
}

.form-body .actions-container {
    gap: var(--space-1);
}

.actions-container .submit-button {
    background: var(--color-green);
    color: var(--color-dark);
    padding: var(--space-2) var(--space-1);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions-container .forgot-password {
    text-align: right;
    color: var(--color-white-dark);
    text-decoration: none;
    cursor: pointer;
}

.actions-container .forgot-password:hover {
    font-weight: bold;
}

.form-body .form-field {
    display: flex;
    flex-direction: column;
    color: var(--color-white-dark);
    font-weight: bold;
    gap: var(--space-2);
}

.form-field input {
    background: var(--color-dark);
    color: var(--color-white);
    border: none;
    padding: var(--space-2) var(--space-1);
    border-radius: 5px;
}

.form-field input:focus {
    border: 1px solid var(--color-dark);
    box-shadow: 0 0 5px var(--color-blue);
    outline: none;
}

.form-field input:active {
    border: 1px solid var(--color-dark);
    box-shadow: 0 0 5px var(--color-blue);
    outline: none;
}
