<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Athena auth</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="content-container">
    <div class="auth-form flex">
        <div class="error-message"></div>

        <div layout:fragment="errors">
        </div>

        <div class="form-body">
            <div layout:fragment="form" class="flex">
            </div>
        </div>
    </div>

    <div class="post-submit-message"></div>
</div>
</body>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const jsonData = {};

            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            const xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = () => {
                const errorMessageContainer = document.querySelector(".error-message");

                if (xhr.status >= 400) {
                    errorMessageContainer.textContent = xhr.responseText ? xhr.responseText : "Unknown error :(";
                    errorMessageContainer.style.display = "block";
                } else {
                    let postSubmitMessageText = "";

                    errorMessageContainer.textContent = "";
                    errorMessageContainer.style.display = "none";

                    const pageId = jsonData["page-id"];
                    switch (pageId) {
                        case "LOGIN":
                            postSubmitMessageText = "Logged in successfully, redirecting...";
                            break;
                        case "SIGNUP":
                            postSubmitMessageText = "User created successfully, redirecting..."
                            break;
                        case "PASSWORD_RECOVERY_LINK":
                            postSubmitMessageText = "Password recovery link sent.<br>Check your email"
                            break;
                        case "PASSWORD_RECOVERY_RESET":
                            postSubmitMessageText = "Password has been reset"
                            break;
                    }

                    document.querySelector(".auth-form").style.display = "none";

                    const postSubmitMessage = document.querySelector(".post-submit-message");
                    postSubmitMessage.style.display = "block";
                    postSubmitMessage.innerHTML = postSubmitMessageText;
                }
            };

            xhr.onerror = () => {
                const errorMessageContainer = document.querySelector(".error-message");
                errorMessageContainer.textContent = "An error occurred during the request.";
                errorMessageContainer.classList.add("visible");
            };

            xhr.send(JSON.stringify(jsonData));
        });
    });
</script>
</html>