<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_base-layout.html}">
<head>
    <title>Athena password recovery</title>
</head>

<body>
<div layout:fragment="errors" th:if="${error != null}">
    <div class="custom-error-message" th:text="${error}"></div>
</div>

<div layout:fragment="form">
    <!-- Request password recovery link -->
    <form method="GET" action="/api/v1/auth/recover-password-link" class="flex"
          th:if="${!onPasswordRecoveryResetProcess}">
        <div class="form-field user-field">
            <label for="user-field">Username / email</label>
            <input id="user-field" type="text" name="usernameEmail" required>
        </div>

        <div class="actions-container flex">
            <button class="submit-button password-recovery-submit">
                Send password recovery link
            </button>
        </div>
    </form>

    <!-- Update password -->
    <form method="POST" action="/api/v1/auth/recover-password"
          th:if="${onPasswordRecoveryResetProcess}">
        <div class="form-field user-field">
            <label for="user-field-1">Username / email</label>
            <input id="user-field-1" type="text" name="user"
                   th:value="${userEmail}"
                   disabled>
        </div>

        <div class="form-field password-field">
            <label for="password-field">Password</label>
            <input id="password-field" type="password" name="password" required>
        </div>

        <div class="form-field password-field">
            <label for="password-field-confirm">Confirm password</label>
            <input id="password-field-confirm" type="password" name="passwordConfirm" required>
        </div>

        <div class="actions-container flex">
            <button class="submit-button password-recovery-submit">
                Update password
            </button>
        </div>
    </form>
</div>
</body>
</html>
